/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
#1.0 Typography
#2.0 Elements
#3.0 Forms
#4.0 Navigation
  ##4.1 Top Menu
  ##4.2 Secondary Menu
  ##4.3 Footer Menu
#5.0 Header
#6.0 Homepage
  ##6.1 Callaction
  ##6.2 Rate
  ##6.3 Plan
  ##6.4 Qualify
  ##6.5 Learn
  ##6.6 Workwitheon
  ##6.7 Callnow
  ##6.8 Testimonial
  ##6.9 Getstart
#7.0 Contact  
#8.0 Footer  
#9.0 Pages
  ##9.1 Pages
#10.0 Misc
*/

/*===============
#1.0 Typography 
=================*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@font-face {
  font-family: 'BookAntiqua';
  src: url('../fonts/BookAntiqua.eot?#iefix') format('embedded-opentype'),  url('../fonts/BookAntiqua.woff') format('woff'), url('../fonts/BookAntiqua.ttf')  format('truetype'), url('../fonts/BookAntiqua.svg#BookAntiqua') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*===============
#2.0 Elements 
=================*/
body {
    background-color: #E6E6E6;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 100%;
}
html {
    width: 100%;
    height: 100%;
}
a {
  outline: none;
}
a:hover,a:focus,a:active {
  text-decoration: none;
  outline: none;
}
a:visited {
  color: #000;
}
/*===============
#3.0 Forms 
=================*/
section#contact form input[type="text"] {
    width: 100%;
    margin: 0;
    border: 3px solid #abc3e6;
    margin-right: 5px;
    padding: 10px 15px;
    border-bottom-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-bottom-right-radius: 10px;
    -o-border-bottom-right-radius: 10px;
    -icab-border-bottom-right-radius: 10px;
    -khtml-border-bottom-right-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    outline: 0 none;
}
section#contact form textarea {
    width: 100%;
    margin: 0;
    border: 3px solid #abc3e6;
    padding: 10px 15px;
    border-bottom-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-bottom-right-radius: 10px;
    -o-border-bottom-right-radius: 10px;
    -icab-border-bottom-right-radius: 10px;
    -khtml-border-bottom-right-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    outline: 0 none;
    resize: none;
}
section#contact form input[type="text"]::-webkit-input-placeholder,section#contact form input[type="text"]::-moz-placeholder,section#contact form input[type="text"]:-ms-input-placeholder,section#contact form input[type="text"]:-moz-placeholder,
section#contact form textarea::-webkit-input-placeholder,section#contact form textarea::-moz-placeholder,section#contact form textarea:-ms-input-placeholder,section#contact form textarea:-moz-placeholder {
  color: #d1d3d4;
}
section#contact form input[type="text"]:hover,section#contact form input[type="text"]:active,section#contact form input[type="text"]:focus, section#contact form textarea:hover,section#contact form textarea:active,section#contact form textarea:focus {
  border: 3px solid #709fd5;
}
section#contact .checkbox {
    margin: 8px 0;
}
section#contact .checkbox input {
  display: none;
}
section#contact .checkbox input:checked + label .box i {
  background: #0d6cb5;
}
section#contact .checkbox input:checked + label .box i {
  opacity: 1;
}
section#contact .checkbox label {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -moz-inline-box;
  margin-top: 8px;
}
section#contact .checkbox label .box {
  background: #fff;
  border: 3px solid #abc3e6;
  border-bottom-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-bottom-right-radius: 10px;
  -o-border-bottom-right-radius: 10px;
  -icab-border-bottom-right-radius: 10px;
  -khtml-border-bottom-right-radius: 10px;
  position: relative;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
section#contact .checkbox label .box:hover {
  background: #fff;
}
section#contact .checkbox label .box i {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 24px;
  display: inline-block;
  opacity: 0;
  pointer-events: none;
  color: #abc3e6;
  border-bottom-right-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  -moz-border-bottom-right-radius: 7px;
  -o-border-bottom-right-radius: 7px;
  -icab-border-bottom-right-radius: 7px;
  -khtml-border-bottom-right-radius: 7px;
}
section#contact form .contact_submit {
  font-family: 'Lato', sans-serif;
  background: #e5dac6;
  color: #a37e2d;
  padding: 15px 20px;
  border-bottom-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-bottom-right-radius: 10px;
  -o-border-bottom-right-radius: 10px;
  -icab-border-bottom-right-radius: 10px;
  -khtml-border-bottom-right-radius: 10px;
  text-transform: uppercase;
  display: inline-block;
  width: 100%;
  margin: 0;
  border: 2px solid #e5dac6;
  font-size: 14px;
  cursor: pointer;
}
section#contact form .contact_submit:hover {
  background: transparent;
  color: #a37e2d;
  border: 2px solid #e5dac6;
}
.contact_us_page input[type="text"], input[type="text"], input[type="password"] {
    width: 100%;
    margin: 0;
    border: 3px solid #abc3e6;
    margin-right: 5px;
    padding: 10px 15px;
    border-bottom-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-bottom-right-radius: 10px;
    -o-border-bottom-right-radius: 10px;
    -icab-border-bottom-right-radius: 10px;
    -khtml-border-bottom-right-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    outline: 0 none;
}
.contact_us_page textarea, textarea {
    width: 100%;
    margin: 0;
    border: 3px solid #abc3e6;
    padding: 10px 15px;
    border-bottom-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-bottom-right-radius: 10px;
    -o-border-bottom-right-radius: 10px;
    -icab-border-bottom-right-radius: 10px;
    -khtml-border-bottom-right-radius: 10px;
    font-family: 'Open Sans', sans-serif;
    outline: 0 none;
    resize: none;
}
.contact_us_page input[type="text"]::-webkit-input-placeholder,.contact_us_page input[type="text"]::-moz-placeholder,.contact_us_page input[type="text"]:-ms-input-placeholder,.contact_us_page input[type="text"]:-moz-placeholder,
.contact_us_page textarea::-webkit-input-placeholder,.contact_us_page textarea::-moz-placeholder,.contact_us_page textarea:-ms-input-placeholder,.contact_us_page textarea:-moz-placeholder {
  color: #d1d3d4;
}
.contact_us_page input[type="text"]:hover,.contact_us_page input[type="text"]:active,.contact_us_page input[type="text"]:focus, 
.contact_us_page textarea:hover,.contact_us_page textarea:active,textarea:focus,.select_dropdown select:active,.select_dropdown select:focus,.select_dropdown select:hover {
  border: 3px solid #709fd5;
}
.select_dropdown {
    position: relative;
    width: 100%;
}
.select_dropdown:before {
    content: '';
    right: 3px;
    top: 3px;
    width: 35px;
    height: 44px;
    background: #f8f8f8;
    position: absolute;
    pointer-events: none;
    display: block;
    border-left: 1px solid #ccc;
    border-bottom-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-bottom-right-radius: 8px;
    -o-border-bottom-right-radius: 8px;
    -icab-border-bottom-right-radius: 8px;
    -khtml-border-bottom-right-radius: 8px;
    outline: 0 none;
}
.select_dropdown select {
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  cursor: pointer;
  width: 100%;
  color: #8A7575;
  font-family: 'Open Sans', sans-serif;
  padding: 10px 15px;
  border: 3px solid #abc3e6;
  border-bottom-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-bottom-right-radius: 10px;
  -o-border-bottom-right-radius: 10px;
  -icab-border-bottom-right-radius: 10px;
  -khtml-border-bottom-right-radius: 10px;
  outline: 0 none;
}
.select_dropdown:after {
  content: "\f0d7";
  font: normal normal normal 25px/1 FontAwesome;
  right: 6px;
  top: 14px;
  position: absolute;
  pointer-events: none;
  width: 35px;
  text-indent: 14px;
}

.page_content .select2-container {
  width: 100% !important;
}
.page_content .select2-container--default .select2-selection--single {
  width: 100%;
  height: auto;
  border: 3px solid #abc3e6;
  margin-right: 5px;
  padding: 10px 15px;
  border-bottom-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-bottom-right-radius: 10px;
  -o-border-bottom-right-radius: 10px;
  -icab-border-bottom-right-radius: 10px;
  -khtml-border-bottom-right-radius: 10px;
  border-top-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-top-left-radius: 0;
  -o-border-top-left-radius: 0;
  -icab-border-top-left-radius: 0;
  -khtml-border-top-left-radius: 0;
  border-top-right-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
  -o-border-top-right-radius: 0;
  -icab-border-top-right-radius: 0;
  -khtml-border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-bottom-left-radius: 0;
  -o-border-bottom-left-radius: 0;
  -icab-border-bottom-left-radius: 0;
  -khtml-border-bottom-left-radius: 0;
  font-family: 'Open Sans', sans-serif;
  outline: 0 none;
}
.page_content .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 50px;
    right: 5px;
    top: -2px;
}
.page_content .select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-width: 15px 10px 0 10px;
  left: 0;
}
.page_content .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-width: 0 8px 10px 8px;
}

.contact_us_page button[type="submit"], button[type="submit"], .home_login_reg_btn {
  font-family: 'Lato', sans-serif;
  background: #e5dac6;
  color: #a37e2d;
  padding: 15px 20px;
  border-bottom-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-bottom-right-radius: 10px;
  -o-border-bottom-right-radius: 10px;
  -icab-border-bottom-right-radius: 10px;
  -khtml-border-bottom-right-radius: 10px;
  text-transform: uppercase;
  display: inline-block;
  max-width: 100%;
  margin: 0;
  border: 2px solid #e5dac6;
  font-size: 14px;
  cursor: pointer;
}
.contact_us_page button[type="submit"]:hover {
  background: transparent;
  color: #a37e2d;
  border: 2px solid #e5dac6;
}
/*===============
##4.1 Navigations - Top Menu
=================*/
ul.main_navigation {
  list-style: none;
  margin: 21px 0;
  padding: 0;
}
ul.main_navigation>li {
	display: inline;
  padding: 0 9px;
}
ul.main_navigation>li a {
  color: #1e3261;
  font-family: sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
}
ul.main_navigation>li a:hover {
  opacity: 0.7;
}
.getstarted_menu {
  border: 3px solid rgba(115, 185, 230, 0.2);
  padding: 8px 20px !important;
  border-bottom-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-bottom-right-radius: 10px;
  -o-border-bottom-right-radius: 10px;
  -icab-border-bottom-right-radius: 10px;
  -khtml-border-bottom-right-radius: 10px;
}
.getstarted_menu:hover,.getstarted_menu:focus {
  border: 3px solid rgba(115, 185, 230, 1);
}
button#m_main_navigation_btn {
  margin: 10px 0;
}
.m_main_navigation {
  height: 100%;
  width: 90%;
  position: fixed;
  top: 0;
  right: 0;
  padding: 0;
  list-style: none;
  border-left: 2px solid #a37e2d;
  background-color: #464a4c;
  overflow-y: scroll;
  z-index: 9999;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}
.m_main_navigation>li {
  padding: 1rem 0;
  margin: 0;
  border-bottom: 2px solid #a37e2d;
}

.m_main_navigation>li a {
  padding-left: 1.5rem;
  color: #fff;
  font-size: 0.9rem;
}
.m_main_navigation>li:last-child {
    margin: 15px 30px;
    padding: 10px;
    text-align: center;
    border: 3px solid rgba(115, 185, 230, 0.2);
    border-bottom-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-bottom-right-radius: 10px;
    -o-border-bottom-right-radius: 10px;
    -icab-border-bottom-right-radius: 10px;
    -khtml-border-bottom-right-radius: 10px;
}
.m_main_navigation>li:last-child a {
  padding-left: 0;
}
.reveal_main_navigation {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}
.overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  background-color: #292b2c;
  opacity: 0.6;
  z-index: 9998;
}
i.overlay_close {
    color: #bd1616;
    font-size: 30px !important;
    padding-left: 1.5rem;
}

/*===============
##4.2 Navigations - Secondary Menu
=================*/
nav.secondary_nav {
    text-align: center;
    display: block;
    margin: 30px 0;
}
.secondary_nav>ul {
    list-style: none;
    margin: 0px;
}
.secondary_nav>ul>li {
    display: inline;
    margin: 0 -3px;
    padding: 10px 20px;
    border: 4px solid #dbe3f4;
}

.secondary_nav>ul>li>a {
  color: #000;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
}
.secondary_nav>ul>li>a:hover,.secondary_nav>ul>li>a:focus {
  color: #000;
  text-decoration: none;
  border-bottom: 2px solid #6198d1;
}
.secondary_nav>ul>li:last-child:not(:first-child) {
  border-bottom-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-bottom-right-radius: 10px;
  -o-border-bottom-right-radius: 10px;
  -icab-border-bottom-right-radius: 10px;
  -khtml-border-bottom-right-radius: 10px;
  border-left: 0px;
}
.secondary_nav>ul>li:not(:first-child):not(:last-child) {
  border-left: 0px;
}

/*===============
##4.3 Navigations - Footer Menu
=================*/
ul.footer_navigation {
    list-style: none;
    padding: 0;
}
ul.footer_navigation>li {
    display: inline;
    padding: 0 8px;
}
ul.footer_navigation>li a {
    color: #1e3261;
    font-family: sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

/*===============
#5.0 Header 
=================*/
.wrap.container {
  background-color: #fff;
}
.top_nav {
  background-color: #e5dac6;
  line-height: 25px;
}
.top_nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.top_nav ul>li {
  display: inline;
  color: #a37e2d;
  font-family: sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  text-transform: uppercase;
}
.top_nav ul>li a {
  color: #a37e2d;
  font-family: 'Lato', sans-serif;
}
.top_nav ul>li a:hover,.top_nav ul>li a:focus,.top_nav ul>li a:active {
  text-decoration: none;
} 
.top_nav ul>li a:hover {
  opacity: 0.7;
}
.left_top_nav li i:hover {
  opacity: 0.6;
}
.left_top_nav li {
  padding: 5px 12px 5px 10px;
}
.right_top_nav li {
  border-left: 1px solid #fff;
  padding: 5px 25px;
}
.logo {
  margin: 9px 0;  
}

/*===============
#6.1 Homepage - Callaction
=================*/
section#callaction {
  position: relative;
  top: 0;
  left: 0;
}
.callout {
  position: absolute;
  top: 100px;
  z-index: 9990;
  text-align: center;
}
.callout h1 {
  font-family: BookAntiqua;
  color: #a37e2d;
  margin: 0 0 25px;
}
.getstart_action {
  font-family: 'Lato', sans-serif;
  background: #e5dac6;
  color: #a37e2d;
  font-size: 14px;
  padding: 15px 20px;
  border: 3px solid #e5dac6;
  border-bottom-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-bottom-right-radius: 10px;
  -o-border-bottom-right-radius: 10px;
  -icab-border-bottom-right-radius: 10px;
  -khtml-border-bottom-right-radius: 10px;
  text-transform: uppercase;
  display: inline-block;
}
.getstart_action:hover {
  background: transparent;
  color: #000;
}
.landing_btn {
  font-family: 'Lato', sans-serif;
  background: transparent;
  color: #a37e2d;
  border: 3px solid #e5dac6;
  font-size: 14px;
  padding: 15px 20px;
  border-bottom-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-bottom-right-radius: 10px;
  -o-border-bottom-right-radius: 10px;
  -icab-border-bottom-right-radius: 10px;
  -khtml-border-bottom-right-radius: 10px;
  text-transform: uppercase;
  display: inline-block;
}
.landing_btn:hover {
  background: #e5dac6;
  color: #000;
}
.callaction_animation {
  position: relative;
  top: 0;
  left: 0;
}
#animation {
  padding: 0;
  position: relative;
}
#home_animation {
    height: 465px;
}
.scroll_content {
    text-align: center;
    position: relative;
    top: -10px;
}
.scroll_content a {
}
.scroll_content a:before {
    content: "\f107";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 50px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #dbe3f4;
}
.scroll_content a:hover:before {
  color: #abc3e6;
}

/*===============
#6.2 Homepage - Rate
=================*/
section#section_rate {
    border-bottom: 4px solid #dbe3f4;
    height: 100%;
}
.rate {
  padding: 60px 10px 0 113px;
}
#section_rate img {
margin-bottom: -24px;
}

/*===============
#6.3 Homepage - Plan
=================*/
section#section_plan {
    
}
.plan {
  padding: 60px 10px 0 113px;
}
#section_plan img {

}

/*===============
#6.4 Homepage - Qualify
=================*/
section#section_qualify {
  background: #f0e9de;  
  padding: 0 0 35px 0; 
}

.qualify {
  padding: 60px 115px;
}

#section_qualify img {
    max-width: 60%;
    width: 185px;
    display: block;
    margin: 0 auto;
    vertical-align: middle;
    margin-top: 95px;
}

/*===============
#6.5 Homepage - Learn
=================*/
section#section_learn {
    background: #f0e9de;
    padding: 25px 0 45px;
}
.learn {
  padding: 60px 60px 60px 85px;
}

#section_learn img {
  margin: auto;
  position: absolute;
  top: 0; 
  left: 20%; 
  bottom: 0; 
  right: 0;
}

.rate>h2,.plan>h2,.qualify>h2,.learn>h2 {
 color: #a37e2d; 
 font-size: 1.9rem;
 font-weight: normal;
 font-family: BookAntiqua;
}
.rate>p,.plan>p,.qualify>p,.learn>p {
    margin: 0 0 20px;
    padding: 5px;
    display: block;
    font-size: 14px;  
    font-family: 'Open Sans', sans-serif;
}
.rate_img ,.qualify_img, .plan_img, .learn_img {
  background-repeat: no-repeat;
  background-position: top center;
  margin: 15px 0;
}
.rate_img {
  background-image: url(../images/find_rates_illustration.png);
  background-size: 310px 320px;
  min-height: 320px;
  margin-bottom: -20px;
}
.qualify_img {
  background-image: url(../images/prequalify_illustration.png);
  background-size: 195px 175px;
  min-height: 175px;
  margin-top: 100px;
}
.plan_img {
  background-image: url(../images/plan_budget_illustration.png);
  background-size: 255px 285px;
  min-height: 285px;
  margin-top: 117px;
  margin-bottom: 0;
}
.learn_img {
  background-image: url(../images/learn_illustration.png);
  background-size: 325px 150px;
  min-height: 150px;
  margin-top: 120px;
  background-position: top right;
}

/*===============
#6.6 Homepage - Workwitheon
=================*/
section#workwitheon {
  padding: 50px;
  text-align: center;
}
section#workwitheon h2 {
  display: block;
  margin: 20px 10px 40px;
  color: #ddbc77;
  font-family: BookAntiqua;
}
.landing_work {
  margin: 20px 0;
}
.landing_work>img {
  max-height: 50px;
}
.landing_work .work_title {
  font-family: 'Lato', sans-serif;
  font-size: 0.9rem;
  text-transform: uppercase;
  margin: 10px;
  font-weight: normal;
}
.landing_work .work_text {
  margin: 0;
  padding: 0;
  line-height: 18px;
  font-size: 0.8rem;
  font-family: 'Open Sans', sans-serif;
}
.learn .landing_btn {
  padding: 15px 30px;
}

/*===============
#6.7 Homepage - Callnow
=================*/
section#callnow {
  background: #006cb5;
  text-align: center;
  color: #fff;
  padding: 40px 15px;
}
section#callnow h2 {
  font-family: BookAntiqua;
}
section#callnow p {
  font-family: 'Open Sans', sans-serif;
}

/*===============
#6.8 Homepage - Testimonial
=================*/
section#testimonial {
  background: #73b9e6;
  padding: 0 0 40px;
}
section#testimonial .item {

}
section#testimonial .owl-carousel .item {
  background: #fff;
  max-width: 50%;
  display: block;
  margin: 70px auto;
  border: 3px solid rgba(97, 152, 209, 0.2);
  border-bottom-right-radius: 35px;
  -webkit-border-bottom-right-radius: 35px;
  -moz-border-bottom-right-radius: 35px;
  -o-border-bottom-right-radius: 35px;
  -icab-border-bottom-right-radius: 35px;
  -khtml-border-bottom-right-radius: 35px;
  box-sizing: border-box;
  background-clip: content-box;
}
section#testimonial .owl-carousel .quote_icon {
width: 80px;
display: block;
margin: 30px auto;
}
section#testimonial .owl-carousel .testimonial_text {
    margin: 0;
    padding: 5px 35px;
    text-align: center;
    font-size: 0.9rem;
    font-family: 'Open Sans', sans-serif;
}

section#testimonial .owl-carousel .author_name {
    display: block;
    text-align: center;
    margin: 10px auto;
    font-size: 0.8rem;
}
section#testimonial .owl-carousel .author_photo {
      width: 100px;
    height: 100px;
    margin: 0px auto -50px auto;
    padding: 3px;
    border: 2px solid rgba(97, 152, 209, 0.2);
    border-radius: 250px;
    -webkit-border-radius: 250px;
    -moz-border-radius: 250px;
    -o-border-radius: 250px;
    -icab-border-radius: 250px;
    -khtml-border-radius: 250px;
}
#testimonial .owl-theme .owl-dots .owl-dot span {
    width: 20px;
    height: 20px;
    background: #b4e3f7;
    border: 3px solid #6198d1;
    opacity: 0.2;
}
#testimonial .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #ffffff;
  border: 1px solid #6198d1;
}

/*===============
#6.9 Homepage - Getstart
=================*/
section#getstart {
    padding: 30px 20px;
}
.getstart_head {
  display: block;
}
.getstart_head h1 {
    color: #ddbc77;
    text-align: center;
    padding: 15px 0 20px;
    font-size: 2rem;
    font-family: BookAntiqua;
}
.getstart_head h3 {
  text-align: center;
  padding: 10px 0 30px;
  font-size: 1.2rem;  
  font-family: 'Open Sans', sans-serif;
}
.icon {
    border: 3px solid #dbe3f4;
    border-radius: 250px;
    -webkit-border-radius: 250px;
    -moz-border-radius: 250px;
    -o-border-radius: 250px;
    -icab-border-radius: 250px;
    -khtml-border-radius: 250px;
    padding: 35px 20px;
    width: 148px;
    height: 148px;
    margin: 0 auto;
}
.icon img {
width: 100%;
max-height: 100%;
}
.icon:hover {
  border-color: #73b9e6;
}
.desc {
    text-align: center;
    padding: 10px 0;
}

/*===============
#7.0 Contact
=================*/
section#contact {

}
section#contact form {
    margin: 0;
    padding: 15px 20px;
}
section#contact form h1 {
    text-align: center;
    color: #ddbc77;
    font-size: 2rem;
    font-family: BookAntiqua;
}

#map_container{
  position: relative;
}
#homemap{
    height: 624px;
    overflow: hidden;
    padding-bottom: 22.25%;
    padding-top: 30px;
    position: relative;
    opacity: 0.7;
}
#homemap:hover {
  opacity: 1;
}
.homemapcontent {
    position: absolute;
    top: 30%;
    left: 0;
    margin: 0 50px;
    padding: 20px 30px 10px;
    border: 3px solid #abc3e6;
    border-bottom-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-bottom-right-radius: 10px;
    -o-border-bottom-right-radius: 10px;
    -icab-border-bottom-right-radius: 10px;
    -khtml-border-bottom-right-radius: 10px;
    background: #fff;
}
.homemapcontent:before {
    border: 0 solid;
    content: "";
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #abc3e6;
    position: absolute;
    bottom: -23px;
    left: 20%; 
}
.homemapcontent:after {
    border: 0 solid;
    content: "";
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #ffffff;
    position: absolute;
    bottom: -17px;
    left: 20%;
}
.homemapcontent p {
    margin: 0;
    padding: 0;
    font-size: 13px;
    line-height: 16px;
}
.gmnoprint,.gm-style-cc {
  display: none;
}
ul.openday {
    margin: 0;
    padding: 0;
}
.openday>li {
    list-style: none;
    font-size: 12px;
    line-height: 16px;
}
.direction_btn {
  font-family: 'Lato', sans-serif;
  background: #e5dac6;
  color: #a37e2d;
  font-size: 14px;
  padding: 8px 20px;
  border: 2px solid #e5dac6;
  border-bottom-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-bottom-right-radius: 10px;
  -o-border-bottom-right-radius: 10px;
  -icab-border-bottom-right-radius: 10px;
  -khtml-border-bottom-right-radius: 10px;
  text-transform: uppercase;
  display: inline-block;
  width: 100%;
  text-align: center;
  margin: 10px 0;
}
.direction_btn:hover {
  background: transparent;
  color: #a37e2d;
  border: 2px solid #e5dac6;
}
.footer_illustration img {

}
/*===============
#8.0 Footer
=================*/
footer.footer {
    margin: 0;
    padding: 30px 50px 15px;
}

/*===============
##9.1 Pages
=================*/
section#content {
    padding: 20px 0 30px;
}
.page_title h1 {
  font-family: BookAntiqua;
  color: #ddbc77;
  text-align: center;
  margin: 0 0 30px;
}
.page_content {
  padding: 20px 60px;
}
.page_content h1,.page_content h2,.page_content h3,.page_content h4 {
  font-family: BookAntiqua;
  color: #a37e2d;
  margin: 15px 0;
}
.page_content p {
  font-family: 'Open Sans', sans-serif; 
  margin: 0;
}
.page_content img {
  
}
.page_content ul,ol {
  font-family: 'Open Sans', sans-serif; 
}
.page_content ul li,.page_content ol li {
  
}
/* 
Contact Us Page
*/
.contact_us_page .openday>li {
  font-size: 16px;
  line-height: 25px;
}
.contact_us_page .page_content h2,.contact_us_page .page_content h4 {
  text-align: center;
}
/* 
Contact Page
*/
.contact_page .talkexpert {
    text-align: center;
    margin: 10px auto;
    border: 3px solid #a09e9e;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -o-border-radius: 7px;
    -icab-border-radius: 7px;
    -khtml-border-radius: 7px;
    padding: 25px 15px;
    width: 60%;
}
.contact_page .talkexpert h3 {
    margin: 0 0 10px;
}
.contact_page .talkexpert p {
    margin: 10px 10px 20px;
}
.contact_page ul li {
  margin: 10px 0;
}
/* 
Company + Mortgage Page
*/
.page_content .tab-content>.tab-pane {
  height: auto !important;
}
.team_social {
  margin: 10px 0;
  padding: 0;
  text-align: center;
}
.team_social li {
  list-style: none;
  display: inline;
  margin: 0 6px;
  font-size: 1.7rem;
}
.team_social li a {
  color: #000;
}
.company .nav-tabs .nav-item.show .nav-link,.company .nav-tabs .nav-link.active,
.mortgage .nav-tabs .nav-item.show .nav-link,.mortgage .nav-tabs .nav-link.active {
    border-color: #e5dac6 !important;
    background: #e5dac6 !important;
    color: #a37e2d !important;
}
.company .nav-tabs .nav-link,.mortgage .nav-tabs .nav-link {
    border-color: #e5dac6 #fff #e5dac6 #fff;
    color: #a37e2d;
    background: #ffffff;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    text-align: center;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    -icab-border-radius: 0;
    -khtml-border-radius: 0;
}
.company .nav-tabs .dropdown-menu,.mortgage .nav-tabs .dropdown-menu {
  position: relative;
  float: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  -icab-border-radius: 0;
  -khtml-border-radius: 0;
}
.company .dropdown-item.active,.company .dropdown-item:active,
.mortgage .dropdown-item.active,.mortgage .dropdown-item:active {
    color: #a37e2d;
    background-color: #e5dac6;
}
.company .horizon_tab .nav-link.active,
.mortgage .horizon_tab .nav-link.active {
  border-color: #e5dac6 !important;
  color: #a37e2d !important;
}
.company .tab-content p,.mortgage .tab-content p {
  margin: 20px 5px;
}
.company .company_img {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -icab-border-radius: 5px;
  -khtml-border-radius: 5px;
}
.company .horizon_tab .nav-item:first-child,
.mortgage .horizon_tab .nav-item:first-child {
  padding: 0 0 0 60px;
}
.company .horizon_tab .nav-link,.mortgage .horizon_tab .nav-link {
  border-color: #e5dac6 #e5dac6 #fff #e5dac6;
  color: #a37e2d;
  background: #ffffff;
}
.mortgage ul.nav.nav-tabs.horizon_tab {
    margin: 15px 0 25px;
}
.mortgage .landing_btn {
  margin: 15px 0;
}
/*===============
#10.0 Misc
=================*/
.modal.fade.show {
  background: #fff;
}
.modal {
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 9999;
}
.home_login_reg_btn {
  margin-left: 15px;
}
.modal-dialog .modal-content {
  border-radius: 0px;
  border: none;
}
.modal-content .close {
  font-size: 3.5rem;
  color: #dbe3f4;
  line-height: 1.2;
}